<body>
  <div class="dashboard-container">
    <div class="datos-usuario">
      <div class="info-usuario">
        <h2>{{ nombre }}, {{ edad }} años</h2>
        <p><strong>Objetivo físico:</strong> {{ objetivoFisico }}</p>
        <p><strong>Peso inicial:</strong> {{ pesoInicial }} kg - <strong>Peso actual:</strong> {{ pesoActual }} kg</p>
        <p><strong>Índice de grasa corporal:</strong> {{ grasaCorporal }}%</p>
        <p><strong>Entrenador:</strong> {{ entrenador }}</p>        
      </div>
      <div class="botones-usuario">
          <button class="btn-cambiar-objetivo" (click)="cambiarObjetivo()">Cambiar objetivo</button>
          <button class="btn-cambiar-objetivo" (click)="cambiarObjetivo()">Ver progreso</button>
      </div>
    </div>

    <div class="entrenador-info">
      <h3>Trainer</h3>
      <h3>{{ nombreEntrenador }}</h3>
      <div class="entrenador-img">
        <img src="assets/images/image.png" alt="Foto de {{ entrenador }}" class="foto-entrenador">
      </div>
      <div class="entrenador-details">
        <p><strong>Especialidad:</strong> {{ especialidad }}</p>
        <p><strong>Experiencia:</strong> {{ experiencia }}</p>
        <button class="btn-contactar-entrenador">Contactar entrenador</button>
      </div>
    </div>

    <div class="progreso-info">
        <h3>Mi progreso</h3>
        <h3>Evolución del peso</h3>
        <select class="dropdown">
          <option value="semana">Por Semana</option>
          <option value="mes">Por Mes</option>
          <option value="año">Por Año</option>
        </select>
        
        
        <div class="botones-usuario">      
          <button class="btn-cambiar-objetivo" (click)="cambiarObjetivo()">Agregar peso</button>
        </div>
    </div>
  </div>
</body>
