<h1>Mi Aplicación Angular {{title}}</h1>
<h2>DUTRA ENANOOOOOOOOOO</h2>

<!-- Información general de la aplicación -->
<ng-container *ngIf="testResponse">
  <h2>Información de la Versión</h2>
  <table>
    <tr *ngIf="testResponse.version">
      <th scope="row">Versión</th>
      <td>{{ testResponse.version }}</td>
    </tr>
  </table>
</ng-container>

<!-- Pings a los servicios -->
<ng-container *ngIf="apiPing">
  <h2>Ping a BFF</h2>
  <table>
    <tr>
      <th scope="row">Respuesta</th>
      <td>{{ apiPing }}</td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="apiConectorPing">
  <h2>Ping a Conector</h2>
  <table>
    <tr>
      <th scope="row">Respuesta</th>
      <td>{{ apiConectorPing }}</td>
    </tr>
  </table>
</ng-container>